---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <h1>
      Middleman is now running!
    </h1>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
    <p class="about">
      <%= link_to "Our Locations", "cities.html", class: "btn btn-danger"%>
    </p>
  </div>
</div>
